@model cancer_isp.Models.StatisticViewModel
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    <h5 class="card-header">
                        New releases
                    </h5>
                    <ul class="list-group list-group-flush">
                        <div class="list-group">
                            @foreach (var item in Model.TopRatedReleases)
                            {
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.Name</h5>
                                        <small>
                                            @if (item.PublishDate != null)
                                            {
                                                @item.PublishDate.Value.ToString("dd/M/yyyy")
                                            }
                                        </small>
                                    </div>
                                    <p class="mb-1">@item.Description</p>
                                </a>
                            }
                        </div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Previous</a>
                        <a href="#" class="card-link">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    <h5 class="card-header">
                        New ratings
                    </h5>
                    <ul class="list-group list-group-flush">
                        <div class="list-group">
                            @foreach (var item in Model.LatestRatings)
                            {
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.FkArtistWork.Name - @item.Score</h5>
                                        <small>
                                            @if (item.Date != null)
                                            {
                                                @item.Date.Value.ToString("dd/M/yyyy")
                                            }
                                        </small>
                                    </div>
                                    <p class="mb-1">@item.Comment</p>
                                </a>
                            }
                        </div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Previous</a>
                        <a href="#" class="card-link">Next</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    <h5 class="card-header">
                        New releases
                    </h5>
                    <ul class="list-group list-group-flush">
                        <div class="list-group">
                            @foreach (var item in Model.LatestReleases)
                            {
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.Name</h5>
                                        <small>
                                            @if (item.PublishDate != null)
                                            {
                                                @item.PublishDate.Value.ToString("dd/M/yyyy")
                                            }
                                        </small>
                                    </div>
                                    <p class="mb-1">@item.Description</p>
                                </a>
                            }
                        </div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Previous</a>
                        <a href="#" class="card-link">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>