@model cancer_isp.Models.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm">

        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    @using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new {id = "profileEditForm"}))
                    {
                        <h5 class="card-header">
                            User info
                            <a id="editProfile" class="oi oi-pencil icon-right icon-pointer"></a>
                            <a id="submitEditProfile" class="oi oi-check icon-right icon-pointer" hidden></a>
                        </h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="profile-field-title">Username</label>
                                <br/>
                                @Html.DisplayTextFor(model => model.Username)
                                @Html.HiddenFor(model => model.Username)
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">First name</label>
                                <br/>
                                <label name="@nameof(Model.FirstName)">@Model.FirstName</label>
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Last name</label>
                                <br/>
                                <label name="@nameof(Model.LastName)">@Model.LastName</label>
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Registration date</label>
                                <br/>
                                <label>@Model.RegistrationDate.ToString("D")</label>
                                @Html.HiddenFor(model => model.RegistrationDate)
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Description</label>
                                <br/>
                                <label name="@nameof(Model.Description)">@Model.Description</label>
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Birthdate</label>
                                <br/>
                                <label name="@nameof(Model.Birthdate)">@Model.Birthdate.ToString("yyyy-MM-dd")</label>
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Phone number</label>
                                <br/>
                                <label name="@nameof(Model.PhoneNumber)">@Model.PhoneNumber</label>
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Email</label>
                                <br/>
                                @Html.DisplayTextFor(model => model.Email)
                                @Html.HiddenFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                <label class="profile-field-title">Karma points</label>
                                <br/>
                                @Html.DisplayTextFor(model => model.KarmaPoints)
                                @Html.HiddenFor(model => model.KarmaPoints)
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm">

        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    <h5 class="card-header">
                        User ratings
                    </h5>
                    <ul class="list-group list-group-flush">
                        <div class="list-group">
                            @foreach (var item in Model.UserRatings)
                            {
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">@item.Score @item.FkArtistWork.Name</h5>
                                        <small>
                                            @if (item.Date != null)
                                            {
                                                @item.Date.Value.ToString("dd/M/yyyy")
                                            }

                                        </small>
                                    </div>
                                    <p class="mb-1">@item.Comment</p>
                                </a>
                            }
                        </div>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Previous</a>
                        <a href="#" class="card-link">Next</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>