@using cancer_isp.Models.Dbo
@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item @(action == "Index" && controller == "Profile" ? "active" : "")">
                    <a class="nav-item nav-link" asp-action="Index" asp-controller="Profile">Profile</a>
                </li>
                <li class="nav-item dropdown @(controller == "ArtistWork" ? "active" : "")">
                    <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Work of art
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Index" asp-controller="ArtistWork">Work of art</a>
                        <a class="dropdown-item" asp-action="Register" asp-controller="ArtistWork">Register</a>
                    </div>
                </li>
                <li class="nav-item dropdown @(controller == "Artist" ? "active" : "")">
                    <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Artist
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-action="Index" asp-controller="Artist">Artist</a>
                        <a class="dropdown-item" asp-action="List" asp-controller="Artist">List</a>
                        <a class="dropdown-item" asp-action="Register" asp-controller="Artist">Register artist</a>
                    </div>
                </li>
                if (User.IsInRole(UserRoleEnum.Administrator.ToString()))
                {
                    <a class="nav-item nav-link @(controller == "Admin" ? "active" : "")" asp-action="Index" asp-controller="Admin">Admin panel</a>
                }
                <a class="nav-item nav-link" asp-action="SignOut" asp-controller="Login">Sign out</a>
            }
            else
            {
                <a class="nav-item nav-link @(action == "LogIn" ? "active" : "")" asp-action="LogIn" asp-controller="Login">Log In</a>
                <a class="nav-item nav-link @(action == "SignUp" ? "active" : "")" asp-action="SignUp" asp-controller="Login">Sign Up</a>
            }
        </ul>
    </div>

    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>